*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #7fffd4;
    height: 767px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card{
    border-radius: 8px;
    text-align: center;
    font-size: x-large;
    width: 400px;
    height: 380px;
    background-color: #666b677c;
}

.card h3{
    margin-top: 15px;
}

.card .sessions, .times {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.card input{
    margin-top: 5px;
    padding: 15px 40px;
}

.card button{
    margin-top: 10px;
    font-size: x-large;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}

.card #btn_reset {
    background-color: chocolate;
}
.card #btn_start {
    background-color: #0a8f32;
}